* {
  font-family: sans-serif;
  line-height: 1.6;
  padding: 5px;
}

header {
  background-color: #211a1d;
  color: #ffffff;
  width: 100%;
  padding: 20px;
}

nav {
  display: inline-block;
  width: 100%;
}

header ul {
  margin: 20px 0 0 0;
  padding: 0;
}

header ul li {
  display: inline-block;
  margin-right: 10px;
}

.introduction {
  background-color: #ffffff;
  text-align: left;
}

#logo {
  border: none;
}

h1,
h2,
h3,
h4,
h5 {
  /*Purple*/
  color: #6320ee;
  margin-bottom: 1em;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

button {
  font-size: large;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #372772;
  border: 2px solid black;
  color: #fff;
}

button:hover,
button:focus {
  background-color: #f0e100;
}

footer {
  background-color: #211a1d;
  color: #ffffff;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#badge {
  height: 120px;
  width: 120px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  bottom: 270px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#badge:hover {
  background-color: yellow;
  transition: width 2s;
  width: 150px;
}

#badge p {
  text-align: center;
  font-size: 125%;
}

.image-container img {
  vertical-align: top;
}

/*Bears*/
.bears {
  background-color: #f8f0fb;
}

#bear1 {
  border: 5px solid #000080;
}

#bear2 {
  border: 5px solid #0047ab;
}

#bear3 {
  border: 5px solid #0000cd;
}

/*Tigers*/
.tigers {
  background-color: #dda0dd;
  color: #f0e100;
}

#ul-tiger {
  padding: 20px;
}

/*Giraffe*/
.giraffe {
  background-color: #483c46;
}

.giraffe-title {
  color: #f4743b;
}

.giraffe p {
  color: #beee62;
}

#first-p {
  font-size: larger;
}

/*Penguin*/
#penguin {
  background-color: #dda0dd;
}

#penguin p {
  color: black;
}

#penguin-image {
  border: 5px solid black;
}

.news {
  background-color: #f8f0fb;
}

.card {
  display: inline-block;
  background-color: white;
  padding: 10px;
  margin: 20px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
}

.card h4 {
  margin-bottom: 1em;
  margin-top: 5px;
}

.card a {
  text-decoration: underline;
  font-weight: bold;
}

.card time {
  opacity: 0.5;
  display: inline-block;
  margin-bottom: 10px;
}

.news h2 {
  text-align: center;
}

/*Education*/

.education {
  height: 500px;
  background-image: url("https://source.unsplash.com/1200x900/?tiger");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 5%;
}

.education-container {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 50px;
  max-width: 400px;
  border-radius: 25px;
}

.education-container h3,
.education-container p {
  margin-bottom: 1em;
}

/*Membership*/

.membership {
  text-align: center;
  background-color: #fffffc;
}

.membership h2 {
  color: #ff3f00;
}

.membership strong {
  color: #ff7f11;
}

#membership-p {
  width: 700px;
  margin: 5px 10px 30px 130px;
}

/*Programs*/
.programs {
  background-color: #f8f0fb;
}

.programs .card {
  display: inline-block;
  vertical-align: bottom;
}
